
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
}



#count-down-pane, #chat-pane {
    height: 100vh;
}


#count-down-pane {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#header {
    padding: 0 100px;
}

#header h1 {
    font-family: 'Bungee';
    font-size: 5em;
    margin: 0;
    text-align: center;
    line-height: 0.9em;
}
#count-down h1 {
    font-family: 'Roboto Mono';
    font-size: 7em;
}

/* #music-control {
    display: flex;
    flex-direction: row;
}
#music-control div {
    border-radius: 15px;
    margin: 5px;
    padding: 8px;
}

#music-control div:nth-child(1) {
    background-color: #4CAF50;
}

#music-control div:nth-child(2) {
    background-color: #F44336; 
} */

#quotes {
    
    text-align: center;
    max-width: 700px;
}
#chat-pane {
    color: #fff;
    width: 30%;   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: -1px 0px 15px -5px #fff;
}

#messages {
    overflow-y: scroll;
}

strong {
    color: #304FFE;
}

#you {
    color: yellow;
}

span {
    opacity: 0.3;
}


/*****************/


form {
    padding: 3px;
    display: flex;
    flex-direction: row;
}
form input { 
    border: none;
    padding: 10px;
    background-color: #000;
    color: #fff;
    box-shadow: 0px 0px 8px -2px #fff;
    margin-right: 5px; 
    width: 84%;
}
form button { 
    background-color: #304FFE;
    color: #fff;
    border: none; padding: 10px; 
    width: 15%;
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}
#messages li {
     padding: 5px 10px; 
     margin-bottom: 5px;
}

#particles-js {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}