
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
}



#count-down-pane, #chat-pane {
    height: 100vh;
}


#count-down-pane {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#header h1 {
    font-family: 'Bungee';
    font-size: 5em;
    margin: 0;
    text-align: center;
}
#count-down h1 {
    font-family: 'Roboto Mono';
    font-size: 3em;
}

#music-control {
    display: flex;
    flex-direction: row;
}
#music-control div {
    border-radius: 15px;
    margin: 5px;
    padding: 8px;
}

#music-control div:nth-child(1) {
    background-color: #4CAF50;
}

#music-control div:nth-child(2) {
    background-color: #F44336; 
}
#chat-pane {
    color: #000;
    width: 30%;
    background-color: #fff;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



/*****************/


form {
    padding: 3px;
    width: 100%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
form input { 
    border: 0; 
    padding: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
}
form button { 
    background: rgb(130, 224, 255); 
    border: none; padding: 10px; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}
#messages li {
     padding: 5px 10px; 
     margin-bottom: 5px;
}
#messages li:nth-child(odd) {
     background: #eee; 
}